
# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives
##### (i.e. some of the key takeaways from the course)

+ List popular languages for Data Science
+ List of common libraries used in Data Science
+ Arithmetic expressions
+ Insert code and markdown cells

## Some of the popular languages that Data Scientists use are: 
1. Python
2. SQL
3. R
4. Julia

## Some of the commonly used libraries used by Data Scientists include:
+ pandas
+ NumPy
+ Matplotlib
+ PyTorch
+ Scikit-learn
+ Tensorflow

| Data Science Tools | 
| ------- |
| VS Code |
| Jupyter |
| RStudio |

#### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [12]:
200/60
# This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

### Author
Lydia IMDNI